@import 'abstracts';

.data-table {
  position: relative;

  &__container {
    position: relative;
    min-height: 20rem;
    max-height: 60rem;
    overflow: auto;
  }

  &__table {
    width: 100%;
  }

  &__title {
    margin: 0;
  }

  .mat-column-actions {
    width: 10rem;
    flex: none;
    justify-content: center;
  }
}
