<div class="movies-list">
  <h1 class="movies-list__title mat-h1">Movies</h1>
  <div class="movies-list__actions u-flexRow u-flexYCenter">
    <mat-form-field appearance="fill" >
      <mat-label>Search...</mat-label>
      <input type="text" #search name="search" matInput (keyup)="onSearch(search.value)">
    </mat-form-field>
    <button mat-raised-button (click)="onAddEditMovie(null)">Add Movie</button>
  </div>
  <div class="movies-list__table">
    <cm-data-table
      [columns]="movieColumns"
      [data]="(movieData$ | async)"
      [displayColumns]="movieDisplayColumns"
      [total]="(totalMovies$ | async)"
      [pageSize]="(pageSize$ | async)"
      [pageIndex]="(pageIndex$ | async)"
      [showPaging]="(showPaging$ | async)"
      (pageChanged)="onPageChange($event)"
    ></cm-data-table>
  </div>
</div>

