@import 'abstracts';

.dashboard {
  padding: 0 1rem;

  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(20rem, 1fr));
    grid-template-rows: repeat(1, minmax(20rem, 1fr));

    @media screen and (min-width: $mobile-breakpoint) {
      grid-template-columns: repeat(2, minmax(20rem, 1fr));
      grid-template-rows: repeat(2, minmax(30rem, 1fr));
    }
  }
}
