@use '@angular/material' as mat;
@include mat.core();

$primary-pallete: mat.m2-define-palette(mat.$m2-indigo-palette);

$primary-color: mat.m2-get-color-from-palette($primary-pallete, 'default');
$secondary-color: mat.m2-get-color-from-palette($primary-pallete, 'darker');

$grey-light: #f3f3f3;

$green: #05cd51;
$red: rgb(233, 59, 59);
$white: #ffffff;
