<div class="cinemas-list">
  <h1 class="cinemas-list__title mat-h1">Cinemas</h1>
  <div class="cinemas-list__table">
    <cm-data-table
      [columns]="cinemaColumns"
      [data]="(cinemaData$ | async)"
      [displayColumns]="cinemaDisplayColumns"
      [total]="(totalCinemas$ | async)"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [childDataField]="childDataField"
      [childColumns]="childColumns"
      [displayChildColumns]="displayChildColumns"
      (pageChanged)="onPageChange($event)"
    ></cm-data-table>
  </div>
</div>
