<div class="dashboard">
  <h1 class="dashboard__title mat-h1">Dashboard</h1>
  <div class="dashboard__grid">
    <div class="dashboard__gridTile">
      <dashboard-card [title]="'Cinemas'">
        <dashboard-doughnut-chart
          [data]="[(totalCinemas$ | async)]"
          [colors]="[{backgroundColor: '#F57C00'}]"
          [labels]="['# of cinemas']"
        >
        </dashboard-doughnut-chart>
      </dashboard-card>
    </div>
    <div class="dashboard__gridTile">
      <dashboard-card [title]="'Screens'">
        <dashboard-doughnut-chart
          [data]="[(totalScreens$ | async)]"
          [colors]="[{backgroundColor: '#3d5afe'}]"
          [labels]="['# of screens']"
        ></dashboard-doughnut-chart>
      </dashboard-card>
    </div>
    <div class="dashboard__gridTile">
      <dashboard-card [title]="'Movies'">
        <dashboard-doughnut-chart
          [data]="[(totalMovies$ | async)]"
          [colors]="[{backgroundColor: '#aa00ff'}]"
          [labels]="['# of movies']"
        ></dashboard-doughnut-chart>
      </dashboard-card>
    </div>
    <div class="dashboard__gridTile">
      <dashboard-card [title]="'Bookings'">
        <dashboard-doughnut-chart
          [data]="[(totalBookings$ | async)]"
          [colors]="[{backgroundColor: '#f44336'}]"
          [labels]="['# of bookings']"
        ></dashboard-doughnut-chart>
      </dashboard-card>
    </div>
  </div>
</div>
