<div class="dashboard">
  <h1 class="dashboard__title mat-h1">Dashboard</h1>
  <div class="dashboard__grid">
    <div class="dashboard__gridTile">
      <dash-card [title]="'Cinemas'">
        <dashboard-doughnut-chart [data]="[350]" [colors]="[{backgroundColor: '#F57C00'}]"></dashboard-doughnut-chart>
      </dash-card>
    </div>
    <div class="dashboard__gridTile">
      <dash-card [title]="'Screens'">
        <dashboard-doughnut-chart [data]="[450]" [colors]="[{backgroundColor: '#3d5afe'}]"></dashboard-doughnut-chart>
      </dash-card>
    </div>
    <div class="dashboard__gridTile">
      <dash-card [title]="'Movies'">
        <dashboard-doughnut-chart [data]="[45]" [colors]="[{backgroundColor: '#aa00ff'}]"></dashboard-doughnut-chart>
      </dash-card>
    </div>
    <div class="dashboard__gridTile">
      <dash-card [title]="'Bookings'">
        <dashboard-doughnut-chart [data]="[750]" [colors]="[{backgroundColor: '#f44336'}]"></dashboard-doughnut-chart>
      </dash-card>
    </div>
  </div>
</div>
