<div class="screenings-list">
  <h1 class="screenings-list__title mat-h1">{{cinemaName}} Cinema Screenings</h1>
  <div class="screenings-list__table">
    <cm-data-table
      [columns]="screeningsColumns"
      [data]="(screeningsData$ | async)"
      [displayColumns]="screeningsDisplayColumns"
      [total]="(totalScreenings$ | async)"
      [pageSize]="(pageSize$ | async)"
      [pageIndex]="(pageIndex$ | async)"
      (pageChanged)="onPageChange($event)"
    ></cm-data-table>
  </div>
</div>
