@import 'abstracts';

.nav-list {

  &__icon {
    color: $primary-color !important;
  }

  &__caption {
    color: $secondary-color;
  }

  &__item {
    &--active {
      font-weight: 500;
      background: rgba(0,0,0,.04);
    }
  }
}
